<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  TempleOfInk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TempleOfInk.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/media/Logo_TOI.png" style="height: 200px;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-0 box-shadow-0 mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="home-outside-menu d-block d-sm-none">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/media/logo_TOI.png" alt="TempleOfInk" style="height: 200px;">
                    </a>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center align-items-center">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Membresia">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AgendaArtistas">Reservas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Artistas</a>
                        </li>
                        <li class="nav-item d-none d-sm-block">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/media/logo_TOI.png" alt="TempleOfInk" style="height: 200px;">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Galeria">Galería</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Consejos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Tienda</a>
                        </li>
                        <!-- Dropdown para Perfil -->
                        <!-- Dropdown para Perfil -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/media/Logo_Perfil.png" alt="Perfil" style="height: 32px;">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Login">Inicio sesión</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="RegistroUsuario">Registro de usuario</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main class="flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>Redes Sociales</h3>
                <ul class="social-links">
                    <li><a href="#"><img src="~/media/Logo_facebook.png" alt="Facebook" style="height: 32px" ; /></a></li>
                    <li><a href="#"><img src="~/media/Logo_instagram.png" alt="Instagram" style="height: 32px" ; /></a></li>
                    <li><a href="#"><img src="~/media/Logo_X.png" alt="Twitter" style="height: 32px" ; /></a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Información</h3>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contacto</h3>
                <ul>
                    <li><a>templeofink@gmail.com</a></li>
                    <li><a>(506) 2555 2458</a></li>
                    <li><a>Barrio el Molino, Cartago</a></li>
                </ul>
            </div>
        </div>
        <div class="container text-center footer-copyright">
            &copy; 2024 - TempleOfInk - <a class="text-white" href="/Home/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
