<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="~/css/galeria.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div id="contenido">
        <section class="filtros">
            <ul>
                <li><button data-filter="all">Todos</button></li>
                <li><button data-filter="black-and-white">Blanco y Negro</button></li>
                <li><button data-filter="color">Color</button></li>
                <li><button data-filter="minimalist">Minimalistas</button></li>
                <li><button data-filter="detailed">Detallados</button></li>
            </ul>
        </section>

        <section class="galeria">
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
                        <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
                        <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
                        <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
                        <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
                        <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
                        <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="black-and-white">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
            <div class="imagen" data-category="color">
                <img src="~/media/logo_TOI.png" alt="TempleOfInk">
            </div>
        </section>


        <!-- Imagen expandida -->
        <div id="imagenExpandida" class="imagen-expandida">
            <div class="controls">
                <button id="zoomIn" class="zoom-btn">
                    <img src="~/media/Zoom_In.png" alt="Zoom In" style="height: 20px" ;>
                </button>
                <button id="zoomOut" class="zoom-btn">
                    <img src="~/media/Zoom_Out.png" alt="Zoom Out" style="height: 20px" ;>
                </button>
                <span id="cerrar" class="cerrar">
                    <img src="~/media/Cerrar_X.png" alt="Cerrar">
                </span>
            </div>
            <img id="imgExpandida" src="" alt="Imagen expandida">
        </div>

    </div>
    <script src="~/js/galeria.js"></script>
</body>
</html>
